<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
    <title>Eat The Pizza!</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://github.com/Comara17" target="_blank" \> <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>Chris O'Mara</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://comara17.github.io/">About</a></li>
                <li><a href="https://www.linkedin.com/in/christopher-o-mara-4a5a54138/">Contact</a></li>
            </ul>

        </div>
    </nav>

    {{{ body }}}
    
</body>

</html>